.servisec{
    &__wrapper{
        margin-top: 89px;
        width: 100%;
        // min-height: 1096px;
        // border: 1px solid red;
    }
    &__title{
        font-size: 36px;
        font-weight: 700;
        color: $title-color;
    }
    &__card-wrapper{
        margin-top: 110px;
        display: flex;
        flex-direction: column;
    }
    &__card{
        display: flex;
    }
    &__card-desc{
        width: 55%;
    }
    &__card-img{
        width: 45%;
    }
    &__card-title{
        font-weight: 600;
        font-size: 24px;
        color: $title-color;
        margin-bottom: 24px;
    }
    &__card-text{
        max-width: 674px;
        width: 100%;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.7;
        margin-bottom: 20px;
    }
    &__card-btn{
        padding: 20px 50px;
        background: $button-color;
        border-radius: $btnRadius;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 18px;
        transition: .2s;
        &:hover{
            opacity: .85;
        }
    }

}
.servisec__card:last-child{
    margin-top: 180px;
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width:990px) {
    .servisec{
        &__wrapper{
            margin-top: 100px;
        }
        &__title{
            text-align: center;
            font-size: 32px;
        }
        &__card{
            display: flex;
            flex-direction: row;
            text-align: center;
            gap: 20px;
        }
        &__card-desc,
        &__card-img{
            width: 100%;
        }
        &__card-img{
            display: flex;
            justify-content: center;
        }
        &__card-title{
            font-size: 18px;
        }
        &__card-text{
            max-width: 562px;
            width: 100%;
            margin: 0 auto 20px;
        }
    }
    .servisec__card:first-child{
        margin-top: -60px;
        display: flex;
        flex-direction: column-reverse;
    }
    .servisec__card:last-child{
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }
    
}

@media (max-width:450px) {
    .servisec{
        &__title{
            font-size: 24px;
        }
        &__card-title{
            font-size: 18px;
            margin-bottom: 10px;
        }
        &__card-text{
            width: 100%;
            font-size: 1rem;
            line-height: 2.3;
        }
        &__card-btn{
            width: 100%;
            font-size: 16px;
        }
    }
}

@media (max-width: 360px) {
    .servisec{
        &__card-title{
            font-size: 16px;
        }
        &__card-text{
            width: 100%;
            font-size: 14px;
            line-height: 2.3;
        }
        &__card-btn{
            width: 100%;
        }
    }
}

